In [35]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing  import StandardScaler,LabelEncoder
import pickle
from tensorflow.keras.models import load_model

In [36]:
import pandas as pd
import numpy as np

In [37]:
model=load_model('model.h5')
with open('label_encode_gender.pkl','rb') as file:
    label_encoder_gender=pickle.load(file)
with open('onehot_encoder_geo.pkl','rb') as file:
    onehot_encoder_geo=pickle.load(file)
with open('scaler.pkl','rb') as file:
    scaler=pickle.load(file)

WARNING:absl:Compiled the loaded model, but the compiled metrics have yet to be built. `model.compile_metrics` will be empty until you train or evaluate the model.

In [38]:
input_data={
    'CreditScore':600,
    'Geography':'France',
    'Gender':'Male',
    'Age':40,
    'Tenure':3,
    'Balance':60000,
    'NumOFProducts':2,
    'HasCrCard':2,
    'IsActiveMember':1,
    'EstimatedSalary':5000
}

In [39]:
geo_encoded=onehot_encoder_geo.transform([[input_data['Geography']]]).toarray()
geo_encoded_df=pd.DataFrame(geo_encoded,columns=onehot_encoder_geo.get_feature_names_out(['Geography']))

geo_encoded_df

d:\1_gen_ai_projects_kn\ANN_for_Bank_churn\venv\Lib\site-packages\sklearn\utils\validation.py:2739: UserWarning: X does not have valid feature names, but OneHotEncoder was fitted with feature names
  warnings.warn(

   Geography_France  Geography_Germany  Geography_Spain
0               1.0                0.0              0.0

In [40]:
input_df=pd.DataFrame([input_data])
input_df

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOFProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,600,France,Male,40,3,60000,2,2,1,5000

In [41]:
input_data=pd.concat([input_df.drop("Geography",axis=1),geo_encoded_df],axis=1)
input_data

,CreditScore,Gender,Age,Tenure,Balance,NumOFProducts,HasCrCard,IsActiveMember,EstimatedSalary,Geography_France,Geography_Germany,Geography_Spain
0,600,Male,40,3,60000,2,2,1,5000,1.0,0.0,0.0

In [42]:
input_data['Gender']=label_encoder_gender.transform(input_data['Gender'])

In [43]:
input_data

,CreditScore,Gender,Age,Tenure,Balance,NumOFProducts,HasCrCard,IsActiveMember,EstimatedSalary,Geography_France,Geography_Germany,Geography_Spain
0,600,1,40,3,60000,2,2,1,5000,1.0,0.0,0.0

In [45]:
input_scaled=scaler.fit_transform(input_data)

In [46]:
input_scaled

array([[0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.]])

In [47]:
Prediction=model.predict(input_scaled)
Prediction

1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 157ms/step

array([[0.16282238]], dtype=float32)

In [50]:
prediction_proba=Prediction[0][0]
prediction_proba

np.float32(0.16282238)

In [51]:
if prediction_proba>0.5:
    print("The customer is likely to churn")
else:
    print("The customer is not likely to churn")

The customer is not likely to churn